body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.new-goal{
  justify-content: center;
  margin : 2rem;
  text-align: "center";
}

.input{
  text-align: "center";
  margin-left:20em ;
  font-size: 1rem;
    flex: 3 0 auto;
    position: relative;
  
  

}

.clear{
  margin-left: 20em;
  width: 245px;
  text-align: center;
  font-size: 1rem;
    flex: 3 0 auto;
    align-self: center;
    position: relative;
  
}


h2{
  text-align: center;
  

}
.button{
  margin-left: 80%;
}